.section1 {
    margin-left: 40px;
    background-color: black;
    min-width: 1400px;
    min-height: 483px;
    max-height: 483px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  @media (max-width: 850px) {
    .section1 {
      flex-direction: column; /* Change to column layout */
      align-items: center; /* Align items to center vertically */
    }
  }
  